.middle-section {
    background-color: white;
    width: 600px;
    height: 1000px;
    z-index: 1;
    border-right: 1px solid rgb(239, 243, 244);
    display: flex;
    flex-direction: column;
}

.middle-top {
    background-color: rgba(255, 255, 255, 0.96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    left: 182px;
    width: 576px;
    position: sticky;
    top: 0;
}

.middle-top p {
    font-weight: bold;
    font-size: 20px;
}

.top-tweets-icon {
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    transition: 0.25s;
}

.top-tweets-icon:hover {
    background-color: rgb(220, 217, 217);
}

.line {
    margin: 4px 0;
    height: 1px;
    border: 1px solid rgb(239, 243, 244);
}

.middle-top:hover,
.top-tweets-icon {
    cursor: pointer;
}

.write-tweet-box {
    display: flex;
    height: 100px;
    flex: 1;
    padding: 4px 0 8px 0;
}

.write-tweet-box .my-account-picture {
    padding: 0 10px;
    display: flex;
    align-items: flex-start;
}

.my-account-picture img {
    transition: 0.2s;
}

.my-account-picture img:hover {
    cursor: pointer;
    filter: brightness(80%)
}

.write-tweet {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-tweet-box {
    display: flex;
}

.input-tweet-box input {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 12px 0 12px 7px;
    margin-top: 2px;
    flex: 1;
}

.input-tweet-box input:focus {
    outline: none;
}

.write-tweet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14.7px;
}

.attribute-tweet {
    display: flex;
    height: 30px;
    width: 190px;
    justify-content: space-between;
    align-items: flex-end;
}

.attribute-icon {
    display: flex;
    align-items: center;
    padding: 7px;
    margin-right: 5px;
    border: none;
    border-radius: 20px;
    transition: 0.25s;
}

.attribute-icon:hover {
    cursor: pointer;
    background-color: rgb(213, 234, 247);
}

.attribute-icon img {
    width: 18px;
    height: 18px;
}

.tweet-button-container {
    padding-right: 25px;
}

.tweet-button {
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    opacity: 0.5;
}

.write-tweet-box .my-account-picture img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
}

.tweets-profile-picture img {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 24px;
}

.tweets-img img {
    width: 504px;
    height: 359px;
    border: none;
    border-radius: 10px;
}






